<footer class="white-section footer-section" id="footer">
  <div class="container-fluid">

    <a href="https://twitter.com/saumyak1412"><i class="social-icon fab fa-twitter icons"></i></a>
    <a href="https://www.instagram.com/k_saumya/"><i class="social-icon fab fa-instagram icons"></i></a>
    <a href="https://www.linkedin.com/in/saumya-kushwaha-4507661a4/"><i class="social-icon fab fa-linkedin-in icons"></i></a>
    <p>© Copyright 2020 CareClub</p>
  </div>
</footer>

</body>

</html>
