<%- include ("partials/header") -%>
<section class="colored-section" id="title1">
  <div class="container-fluid">


    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark" id="donatenb">
      <a class="navbar-brand" href="">careclub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</section>
<div class="container-fluid" id="successdiv">
<h1>Payment failed!</h1>
</div>

<%- include ("partials/footer") -%>
